.btn {
  background-color: $color_orange;

  &:focus {
    box-shadow: none;
  }
}

.btn-custom {
  color: $white;
  font-size: 14px;
  border-radius: 50px;
  text-transform: uppercase;
  padding: 10px 25px;
  cursor: pointer;
  border: none;
  background-size: 300% 100%;
  transition: all .4s ease-in-out;
  &.theme-color {
    background-image: $color_orange;
  }
  &:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
  }
  &:focus {
    outline: none;
  }
}

.social-btns {
  .btn {
    margin: 0 10px;
  }
  .fb {
    background-color: #3b5998;
    background-image: linear-gradient(to right, #3b5998, #3c769c, #3b5b98, #3c749c);
  }
  .ggl {
    background-color: #d85040;
    background-image: linear-gradient(to right, #d85040, #ff6e63, #d85040, #f9695d);
  }
}
