//colors
$white: white;
$gray: #eee;
$black: #000;
$color_orange: #ff5347;
$color-dark-blue: #232d41;
$color_darker_gray: rgba(79, 79, 79, 0.6);
$color_cararra: rgba(236, 236, 236, 1);
$color_darkest_gray: rgba(136, 136, 136, 0.11);
$color_teal: #eaf4f4;

//font colors
$color_tundora: #444444;
$color_tapa: #777777;
$black_13: rgba(0, 0, 0, 0.13);
$color_mine_shaft: #333;

//fonts
$font_poppins: Poppins;
$font_montserrat: Montserrat;
$font_sans-serif: sans-serif;

//images
$intro-bg: url(~src/assets/images/intro-bg.png);
$about-bg: url(~src/assets/images/about-bg.png);
$feature-bg: url(~src/assets/images/feature-bg.png);
$team-bg: url(~src/assets/images/team-bg.png);
$testimonial-bg: url(~src/assets/images/testimonial-bg.png);
$blue-line-circle: url(~src/assets/images/blue-line-circle.png);
$small-screen-bg: url(~src/assets/images/small-screen-bg.png);
$merchant-small-screen-bg: url(~src/assets/images/merchant-small-screen-bg.png);
$logo: url(~src/assets/images/logo.png);
$auth-bg: url(~src/assets/images/auth-bg.jpg);
$plain-bg: url(~src/assets/images/plain-bg.png);

// merchant
$merchant-bg:  url(~src/assets/images/merchant/merchant-bg.png);
