<app-header></app-header>
<section class="authentication-form coming-soon">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 offset-xl-3">
        <div class="fadeInLeft-land-caption text-center">
          <div class="">
            <div>
              <img src="assets/images/logoimage.png" alt="caption-img" class="caption-img">
              <div class="clock-box">
                <h3>Under Construction</h3>
                <p>Please check back again soon</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
