<section class="authentication-form">
  <div>
    <a [routerLink]="''"><img class="logo-center" src="assets/images/logo.png"></a>
    <h2 class="title text-center">RESET YOUR<span> PASSWORD</span></h2>
    <div class="card">
      <form class="theme-form">
        <div class="form-group">
          <input required="required" type="email" class="form-control" placeholder="Email Address">
        </div>
        <div class="col-12 mt-4">
          <button type="submit" class="btn btn-custom btn-block theme-color">Send</button>
        </div>
      </form>
    </div>
  </div>
</section>
