<section id="home" class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="home-contain">
                    <div>
                        <h1><span class="font-bold">DRIVE </span><span class="font-bold font-gray">GROWTH</span>
                        </h1>
                        <h3>Snapching helps you grow your business by providing you a platform to get to know your customers!</h3>
                        <div class="form-button">
                            <button class="btn btn-custom theme-color" [routerLink]="'/sign-up'">Get Started</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 offset-md-1">
                <div class="home-right">
                    <img data-tilt data-tilt-perspective="110" data-tilt-speed="400" data-tilt-max="1.2" src="assets/images/merchant/banner.jpg" class="img-fluid" alt="mobile">
                </div>
            </div>
        </div>
    </div>
</section>
