@import '../../../../assets/scss/variable';

.home {
  background-image: $intro-bg;
  width: 100vw;
  height: 100vh !important;
  background-repeat: no-repeat;
  margin-top: 0;
  display: block;
  background-size: cover;
  background-position: bottom;
  position: relative;
  .fp-tableCell {
    display: block;
  }
  h1 {
    line-height: 50px;
    margin-bottom: 0px;
  }
  h3 {
    margin-top: 10px;
  }
}

.home-decor {
  .home-circle1 {
    position: absolute;
    top: 185px;
    left: 75px;
  }
  .home-circle2 {
    position: absolute;
    top: 180px;
    right: 188px;
  }
  .home-circle3 {
    position: absolute;
    top: 280px;
    right: 203px;
  }
}

.home-contain {
  display: flex;
  align-items: center;
  height: calc(100vh - 74px);
  margin-top: -27px;
  h4 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.14em;
    font-size: 18px;
  }
}

.home-right {
  transform: translateY(90px);
  width: 100%;
}

.home-circle3 {
  animation: movebounce 3.9s linear infinite;
}

.home-circle1 {
  animation: movebounce 3s linear infinite;
}

.home-circle2 {
  animation: movebounce 2.8s linear infinite;
}

@media(min-width: 1670px) and(max-width: 1800px) {
  .home-decor {
    .home-circle2 {
      top: 150px;
      right: 25px;
    }
    .home-circle3 {
      top: 235px;
      right: 55px;
    }
  }
}

@media(min-width: 1367px) and(max-width: 1669px) {
  .home-decor {
    .home-circle2 {
      top: 150px;
      right: 25px;
    }

    .home-circle3 {
      top: 235px;
      right: 55px;
    }
  }
}
@media(max-width: 1366px) {
  .home-decor {
    .home-circle1 {
      top: 120px;
      left: 30px;
    }
    .home-circle2 {
      top: 130px;
      right: -30px;
    }
    .home-circle3 {
      top: 200px;
      right: 25px;
    }
  }

}

@media(max-width: 1199px) {
  .home-decor {
    .home-circle1 {
      top: 125px;
      left: 65px;
    }
    .home-circle2 {
      right: -30px;
    }
    .home-circle3 {
      top: 211px;
      right: 5px;
    }
  }

}

@media(max-width: 767px) {
  .home {
    background-image: $small-screen-bg;
    min-height: 100vh;
  }
  .home-decor img {
    display: none;
  }
  .home-decor {
    .home-circle2 {
      right: -76px;
    }
    .home-circle3 {
      top: 211px;
      right: -47px;
    }
  }


}

@media(max-width: 600px) {
  .home-decor {
    .home-circle3 {
      display: none;
    }
    .home-circle2 {
      right: -56px;
    }
  }

}

@media(max-width: 480px) {
  @media(max-width: 360px) {
    .feature-subtitle {
      h3 {
        font-size: 20px;
        line-height: 15px;
      }
      p {
        font-size: 9px;
      }
    }
    .home-decor {
      .home-circle1 {
        left: 50px;
      }
      .home-circle2 {
        right: -62px;
        top: 100px;
      }
    }
    .feature-block {
      padding: 5px;
    }
  }
}
