<section id="feature" class="feature">
  <div class="feature-decor">
    <div class="feature-circle1"><img src="assets/images/main-banner3.png" alt=""></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="feature-phone">
        <img src="assets/images/gifs/text.gif" class="img-fluid" alt="">
      </div>
      <div class="offset-lg-4">
        <div class="row">
          <div class="col-sm-12 mrgn-md-top">
            <h2 class="title">How<span> it works</span></h2>
          </div>
          <div class="col-12 col-md-12">
            <ul class="feature-style">
              <li>
                <div class="feature-icon">
                    <span class="fa-stack">
                    <span class="fa fa-circle-o fa-stack-2x"></span>
                    <strong class="fa-stack-1x">
                        1
                    </strong>
                  </span>
                </div>
                <div class="feature-subtitle">
                  <h3>Visit merchant's location</h3>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-12 sm-m-top">
            <ul class="feature-style">
              <li>
                <div class="feature-icon">
                   <span class="fa-stack">
                    <span class="fa fa-circle-o fa-stack-2x"></span>
                    <strong class="fa-stack-1x">
                        2
                    </strong>
                  </span>
                </div>
                <div class="feature-subtitle">
                  <h3>Text the secret keyword code found in each shop to receive a promotion!</h3>
                </div>
              </li>
              <li>
                <div class="feature-icon">
                    <span class="fa-stack">
                    <span class="fa fa-circle-o fa-stack-2x"></span>
                    <strong class="fa-stack-1x">
                        3
                    </strong>
                  </span>
                </div>
                <div class="feature-subtitle">
                  <h3>Reply with your customer sentiment 0-10</h3>
                </div>
              </li>
                <li>
                <div class="feature-icon">
                    <span class="fa-stack">
                    <span class="fa fa-circle-o fa-stack-2x"></span>
                    <strong class="fa-stack-1x">
                        4
                    </strong>
                  </span>
                </div>
                <div class="feature-subtitle">
                  <h3>Create an account and earn extra rewards</h3>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
