<section id="about" class="about" #about>
  <div class="about-decor">
    <div class="about-circle2"><img src="assets/images/main-banner1.png" alt="banner1"></div>
  </div>
  <div class="container">
    <div class="row ">
      <div class="col-md-5">
        <div class="about-contain">
          <div>
            <h2 class="title">JOIN AND <span>SAVE MORE</span></h2>
            <h3 class="caption-about">Create an account with us and start earning rewards to save even more!</h3>
            <div class="top-margin">
              <button type="button" class="btn btn-custom theme-color theme-color">Join Snapching</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 d-medium-none">
        <div class="about-right">
          <div class="about-phone">
            <img src="assets/images/aboutus.png" class="img-fluid" alt="aboutus">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
